/* PAULA TU PUEDES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT: Útil para declarar variables CSS globales */
:root{
    /* comportamiento de desplazamiento: suave */
    scroll-behavior: smooth;

    --text-color: #f16781;
    --text-color-inverse: #91cfb3;
    --theme-color: #fff;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Contenedores de Quines somos, Portafolio, Acerca de y Contacto */

.contenedor{
    width: 90%;
    max-width: 1200px;

 /* regular la visiblidad de los contenidos
    Desbordamiento: oculta */
    overflow: hidden;

    margin: auto;

    /* separación de los contenedores */
    padding: 60px 0;
}

.subtitulo{
    color: var(--text-color);
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
}

/* header */

.header{
    /* 100% de la pantalla */
    height: 100vh;

    background-image: linear-gradient(-225deg, #91cfb359 0%, #f167801e 100%), url(../img/portada-atito.png);

    /* repetición de fondo */
    background-repeat: no-repeat;

    /* tamaño de fondo: portada */
    background-size: cover;

    /* archivo adjunto de fondo: fijo */
    background-attachment: fixed;

    /* posición de fondo: centro */
    background-position: center;
  
}

.hamburguer{
    /* posición: fija */
    position: fixed;

    /* arriba: 30px */
    top: 30px;

    /* izquierda: 30px */
    left: 30px;
  
    width: 60px;
    height: 60px;

    /* nuestra mano que puede pinchar sobre el elemento */
    cursor: pointer;
}

.menu-navegacion{
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(-225deg, rgba(183, 248, 219, 0.822) 0%, #50a7c2bb 100%);
    width: 35vw;
    height: 100%;
    display: flex;
    
    /* dirección de flexión: columna */
    flex-direction: column;

    /* reparte equitativamente el espacio
    justificar-contenido: espacio uniformemente */
    justify-content: space-evenly;

    /* alinear elementos: centro */
    align-items: center;

    /* manda a -100% de posición declarada - left */
    transform: translate(-110%);

    /* transición: transformar 0.3s facilidad de entrada y salida */
    /* transition: transform 0.3s ease-in-out; */

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread{
    transform: translateX(0);
}

.menu-navegacion a{
    color: var(--theme-color);

    /* peso de fuente */
    font-weight: 700;

    text-decoration: none;
}