.body {
    background-image: url(https://wallpaperbat.com/img/641236-react-native-wallpaper.png);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.main{
    background-color: rgba(87, 55, 116, 0.719);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 22.5rem;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.header{
    display: flex;
}

.header__professional-imagen-container{
    display: flex;
    max-width: 170px;
    margin: 0 auto;
}

.header__professional-imagen{
    width: 100%;
    border-radius: 50%;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.article__title, 
.article__keywords,
.article__presentation,
.skills__title {
    font-weight: normal;
    letter-spacing: 0.125rem;
    margin: 0;
}

.article__title {
    font-size: 1.75rem;
}

.article__keywords {
    font-size: 1.2rem;
}

.article__presentation{
    font-size: 1rem;
}

.skills {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skills__title::before {
    content: '📚' ;
}

.skills__title::after {
    content: '📚' ;
}

.skills__skills-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.skills__skills {
    background-color: rgba(176, 240, 219, 0.842);
    color: initial;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 4px 8px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.skills__skills:hover {
    background-color: white;
}

.footer {
    color: white;
    margin: auto;
}
  
.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: auto;
}
  
.footer-nav__link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    margin: 0;
    padding: 0;
}
  
.footer-nav__link-item {
    list-style: none;
}
  
.footer-nav__link {
    display: flex;
    width: 2rem;
    transition: 0.25s all;
}
  
.footer-nav__link:hover {
    filter: brightness(150%);
    transform: scale(1.5);
}
  
.footer-nav__link-image {
    width: 100%;
}
  
.footer-nav__credits {
    text-align: center;
    font-size: 0.7rem;
    margin: 0;
    padding-top: 0.5rem;
    box-shadow: 0 -0.25rem 0.25rem -0.25rem lightslategray;
}
  
.footer-nav__credits-author {
    color: lightslategray;
    text-decoration: none;
}