.header{
    display: flex;
}

.header__professional-imagen-container{
    display: flex;
    max-width: 170px;
    margin: 0 auto;
}

.header__professional-imagen{
    width: 100%;
    border-radius: 50%;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.article__title, 
.article__keywords,
.article__presentation {
    font-weight: normal;
    letter-spacing: 0.125rem;
    margin: 0;
}

.article__title {
    font-size: 1.75rem;
}

.article__keywords {
    font-size: 1.2rem;
}

.article__presentation{
    font-size: 1rem;
}
