:root {
  scroll-behavior: smooth;
}
.body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.header {
  box-shadow: 0 0.25rem 0.25rem 0 #20232a80;
}
  
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  padding: 0.25rem 2rem;
  margin: auto;
}
    
.header-nav__link-logo-container {
  max-width: 3rem;
}
  
.header-nav__link-logo {
  width: 100%;
  border-radius: 50%;
}
  
.header-nav__link-list {
  display: flex;
  gap: 0.75rem;
}
  
.header-nav__link-item {
  list-style: none;
}
  
.header-nav__link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #282c34;
  transition: all 0.25s;
}

.header-nav__link:hover {
  color: #61dafb;
  border-bottom: 0.25rem solid gold;
}
  
.perfil {
  text-align: center;
  padding: 2rem 0;
}
  
.perfil-container {
    padding: 0 2rem;
}
  
.perfil__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}
  
.perfil__info-title {
  color: #282c34;
  margin: 0;
}
  
.perfil__info-description {
  font-size: 0.8rem;
  margin: 0;
}
  
.perfil__info-link-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
  
.perfil__info-link {
  background-color: #e83e8c;
  border: 0.1rem solid #e83e8c;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #20232a;
  transition: all 0.5s;
}
  
.perfil__info-link:hover {
  border: 0.1rem solid #20232a;
  background-color: #fff;
}
  
.perfil__cover-image {
  display: flex;
  justify-content: center;
}
  
.perfil__image-container {
  display: flex;
  max-width: 15rem;
  border: 0.25rem solid #20232a;
  border-radius: 20px 0px 20px 0px;
  overflow: hidden;
  transition: all 0.5s;
}
  
.perfil__image-container:hover {
  box-shadow: -0.25rem 0.25rem 0 0.25rem #e83e8c,  -0.50rem 0.50rem 0 0.1rem black;
}
  
.perfil__image {
  width: 100%;
}

.experiencia {
  background-image: linear-gradient(to right,  #492d6f, #2e2d6fcb);
  color: #fff;
  padding: 2rem 0;
}
  
.experiencia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1024px;
  margin: auto;
  padding: 0 2rem;
}
  
.experiencia__title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}
  
.experiencia__experiences {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
  
.experiencia__experience {
  display: flex;
  flex-direction: column;
}
  
.experiencia__date {
  color: #61dafb;
  margin: 0;
}
  
.experiencia__company {
  font-size: 1.5rem;
  margin: 0;
}
  
.experiencia__course {
  color: #61dafb;
  margin: 0;
  font-weight: 400;
}
  
.experiencia__activities {
  margin: 0;
  margin-top: 0.5rem;
}
  
.experiencia__activity {
  list-style: square;
}

.contacto {
  text-align: center;
  padding: 2rem 0;
}
  
.contacto-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  max-width: 1024px;
  margin: auto;
  border-radius: 20px 0px 20px 0px;
  border: 0.1rem solid #20232a;
  background-image: url(https://wallpaperbat.com/img/641236-react-native-wallpaper.png);
}
  
.contacto__tittle {
  margin: 0;
  font-size: 2rem;
  color: #fff;
}
  
.contacto__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  
.contacto__form-input {
  border: 0.1rem solid #282c34;
  border-radius: 0.5rem;
  padding: 0.75rem;
  outline: none;
  transition: all 0.5s;
}
  
.contacto__form-input:invalid {
  box-shadow: 0 0 0.5rem 0 #e83e8c;
}
  
.contacto__form-input:focus {
    border: 0.1em solid #0ee2e2;
}
  
.contacto__form-input::placeholder {
    color: #3f3c3d;
}
  
.contacto__form-button {
  align-self: center;
  background-color: #61dafb;
  border: 0.1rem solid #61dafb;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #20232a;
  transition: all 0.5s;
}
  
.contacto__form-button:hover {
  border: 0.1rem solid #20232a;
  background-color: #fff; 
}

.footer {
  background-color: #422e58;
  color: white;
  padding: 2rem 0;
} 

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

.footer-nav__link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.footer-nav__link-item {
  list-style: none;
}

.footer-nav__link {
  display: flex;
  width: 2rem;
  transition: 0.25s all;

}

.footer-nav__link:hover {
  filter: brightness(150%);
  transform: scale(1.5);
}

.footer-nav__link-image {
  width: 100%;
}

.footer-nav__credits {
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
  padding-top: 0.5rem;
  box-shadow: 0 -0.25rem 0.25rem -0.25rem gray;
}

.footer-nav__credits-author {
  color: #61dafb;
  text-decoration: none;
}

.wave-separator{
  height:100px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#422e58), color-stop(0.49, #422e58), color-stop(0.51, #fff), to(white));
-webkit-background-size: 38px 100%;
}


@media (min-width: 854px) {
  .perfil-container {
    display: flex;
    padding: 0;
    max-width: 1024px;
    margin: auto;
    align-items: center;
  }
 
  .perfil__info {
    flex: 1;
    gap: 1.5rem;
    text-align: left;
  }

  .perfil__info-title {
    font-size: 2.5rem;
  }

  .perfil__info-description {
    font-size: 1rem
  }

  .perfil__info-link-container {
    justify-content: flex-start;
  }

  .perfil__info-link {
    font-size: 1.5rem;
  }
  
  .perfil__cover-image{
    flex: 1;
  }

  .perfil__image-container {
    max-width: 18rem;
    border: 0.25rem solid #20232a;
  }  
  }

