:root {
    scroll-behavior: smooth;
  }
  .body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .header {
    box-shadow: 0 0.25rem 0.25rem 0 #20232a80;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    padding: 0.25rem 2rem;
    margin: auto;
  }
    
  .header-nav__link-logo-container {
    max-width: 3rem;
  }
  
  .header-nav__link-logo {
    width: 100%;
    border-radius: 50%;
  }
  
  .header-nav__link-list {
    display: flex;
    gap: 0.75rem;
  }
  
  .header-nav__link-item {
    list-style: none;
  }
  
  .header-nav__link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #282c34;
    transition: all 0.25s;
  }

  .header-nav__link:hover {
    color: #61dafb;
    border-bottom: 0.25rem solid gold;
  }
  
  .perfil {
    text-align: center;
    padding: 2rem 0;
  }
  
  .perfil-container {
    padding: 0 2rem;
  }
  
  .perfil__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
  }
  
  .perfil__info-title {
    color: #282c34;
    margin: 0;
  }
  
  .perfil__info-description {
    font-size: 0.8rem;
    margin: 0;
  }
  
  .perfil__info-link-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .perfil__info-link {
    background-color: #e83e8c;
    border: 0.1rem solid #e83e8c;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #20232a;
    transition: all 0.5s;
  }
  
  .perfil__info-link:hover {
    border: 0.1rem solid #20232a;
    background-color: #fff;
  }
  
  .perfil__cover-image {
    display: flex;
    justify-content: center;
  }
  
  .perfil__image-container {
    display: flex;
    max-width: 15rem;
    border: 0.25rem solid #20232a;
    border-radius: 20px 0px 20px 0px;
    overflow: hidden;
    transition: all 0.5s;
  }
  
  .perfil__image-container:hover {
    box-shadow: -0.25rem 0.25rem 0 0.25rem #e83e8c,  -0.50rem 0.50rem 0 0.1rem black;
  }
  
  .perfil__image {
    width: 100%;
  }
  